<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBDB Address Book</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .data {
            width: 100%;
            margin: 20px 0;
            border-collapse: collapse;
        }
        .data th, .data td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .data th {
            background-color: #f2f2f2;
        }
        img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>CBDB Address Book</h1>
        <table class="data table table-bordered">
            <thead>
                <tr>
                    {% for col in data[0].keys() %}
                        {% if col[:7] == "Unnamed" %}
                            <th></th>
                        {% else %}
                            <th>{{ col }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                    <tr>
                        {% for key, value in row.items() %}
                            <td>
                                {% if value is string and value.endswith('.png') %}
                                    <img src="{{ url_for('static', filename=value.split('static/')[1]) }}" alt="Image">
<!--                                cell number-->
                                {% elif value|int != 0 %}
                                    {{value | int}}
<!--                                skip nan-->
                                {% elif value | float != 0 %}

                                {% else %}
                                    {{ value }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

