<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Drive Table Viewer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .data {
            margin: 20px;
        }
    </style>
</head>
<body>
<div class="container">
        <h2>Data Table</h2>
        <div>
            {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        </div>
    </div>

</body>
</html>
